<header>
  <div class="container">
    <a href='#' clas="logo">List-It</a>
    <nav>
      <ul>
        <li><a href='#' routerLink='/newlist'>new</a></li>
        <li><a href='#' routerLink='/alllists'>all</a></li>
      </ul>
  </nav>
</div>
</header>

<div class = "container">
  <router-outlet></router-outlet>
</div>