html {
  height: 100%;
}
body{
  height: 100%;
  background: 
    linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-repeat: no-repeat;
  background-blend-mode: screen;
  background-attachment: fixed;
}