<div class="body-container">
  <div class="auth-page-container">
    <div class="main-form front">
      <div class="main-form-inner">
        <form method="post" class="make-new-shopping-list">
          <div class="new-list-row">         
              <input class="list-input" type="text" placeholder="Insert List Name" id="list-name" name="list-name">
          </div>
          <div class="new-list-list-row">
            <input class="list-input" type="text" placeholder="Item Name" id="item-name" name="item-name">
            <input class="list-input" type="text" placeholder="Item Cost" id="item-cost" name="item-cost">
            <input id="item-amount" type="text" value="1"/>
          </div>
          <div class = "bufferrow" id="bufferrow1"></div>
          <div class="new-list-row">
            <button type='button' (click)='addNewRow()' class="plus">Add Item</button>
          </div>
        </form>
      </div>
    </div>
  </div>