html {
  height: 100%;
}
body{
  height: 100%;
  background: 
    linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-repeat: no-repeat;
  background-blend-mode: screen;
  background-attachment: fixed;
}

.body-container {
  display: table;
  height: 100%;
  width: 100%;
}

.list-input {
  height: 30px;
  min-width: 30%;
  text-align: center;
  padding: 4px 6px;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  color: #000000;
  transition: all linear 0.2s;
}

.auth-page-container {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.main-form {
  width: 50%;
  height: 260px;
  background: #383e45;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 4px fade(#383e45, 40);
  z-index: 2;
}
.main-form-inner {
  padding: 20px;
}

.new-list-clearfix:after {
  clear: both;
}
span {cursor:pointer; }
		.number{
			margin:100px;
		}
		.minus, .plus{
			width:60px;
			height: 45px;
			background:#f2f2f2;
			border-radius:4px;
			padding: 4px 6px;
      border: none;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      font-family: "Roboto Condensed", sans-serif;
      margin: 5px;
      font-size: 16px;
		}
		input{
			height: 30px;
      width: 50px;
      text-align: center;
			border:1px solid #ddd;
			border-radius:4px;
      display: inline-block;
      vertical-align: middle;
      font-family: "Roboto Condensed", sans-serif;
      margin: 5px;
      font-size: 16px;
    }